body {
    background-image: url(../image/backgroundimg.jpg);
    margin: 0;
}

.extend {
    background-color: #000000;
    width: 100%;
}

.fullpage {
    max-width: 1400px;
    margin: auto;
    font-family: "Rubik", sans-serif;
}

.firstbar {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
}



.logo img {
    width: 160px;
    padding: 20px;
}

.socialmedia {
    width: 10%;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 20px;
}

.self {
    margin: auto;
    width: 30%;
    text-align: center;
}

.self h1 {
    color: #4A70A9;
    font-size: 50px;
}

.self h3 {
    color: #8FABD4;
    font-size: 30px;
}

.selfphoto {
    margin: 40px;
}

.selfphoto img {
    border-radius: 400px;
}

.self p {
    font-size: 18px;
}

.work1 {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.week1 {
    background-color: #efece3a5;
    text-align: center;
    padding: 45px;
    border-radius: 20px;
    width: calc(100%/3);
    margin: 20px;

}

.border {
    border: none;
    background-color: #000000;
    height: 2px;
    margin: 20px;
}

.week1 a {
    text-decoration: none;
    color: #8FABD4;
    font-size: 25px;

}

.week2 {
    background-color: #efece3a5;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    width: calc(100%/3);
    margin: 20px;
}

.week2 a {
    text-decoration: none;
    color: #8FABD4;
    font-size: 25px;
}

.border2 {
    border: none;
    background-color: #000000;
    height: 2px;
    margin: 20px;
}

.week3 {
    background-color: #efece3a5;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    width: calc(100%/3);
    margin: 20px;
}

.week3 a {
    text-decoration: none;
    color: #8FABD4;
    font-size: 25px;
}

.border3 {
    border: none;
    background-color: #000000;
    height: 2px;
    margin: 20px;
}

.week1 h1 {
    color: #4A70A9;
    margin: 0;
}

.week2 h1 {
    color: #4A70A9;
    margin: 0;

}

.week3 h1 {
    color: #4A70A9;
    margin: 0;

}

.week4 {
    background-color: #efece3a5;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    margin: 20px;
    width: 50%;
}

.week4 h1 {
    color: #4A70A9;
    margin: 0;
}

.week4 a {
    text-decoration: none;
    color: #8FABD4;
    font-size: 25px;
}

.border4 {
    border: none;
    background-color: #000000;
    height: 2px;
    margin: 20px;
}

.work2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.week5 {
    background-color: #efece3a5;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    margin: 20px;
    width: 50%;
}

.week5 h1 {
    color: #4A70A9;
    margin: 0;
}

.week5 a {
    text-decoration: none;
    color: #8FABD4;
    font-size: 25px;
}

.border5 {
    border: none;
    background-color: #000000;
    height: 2px;
    margin: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon img {
    width: 30px;
    height: 30px;
}

.icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon2 img {
    width: 30px;
    height: 30px;
}

.icon3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon3 img {
    width: 30px;
    height: 30px;
}

.icon4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon4 img {
    width: 30px;
    height: 30px;
}

.icon5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon5 img {
    width: 30px;
    height: 30px;
}

.ig2,
.fb2 {
    width: 38px;
}

.xhs2 {
    width: 45px;
}

.bottonbar {
    background-color: #000000;
    align-items: center;
    margin-top: 70px;
    padding: 20px;
}

.bottonbar p {
    margin: auto;
    color: #8FABD4;
}

.socialmedia2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.reserved {
    text-align: center;
}

@media screen and (max-width: 923px) {
    .week1 {
        width: 75%;
    }

    .week2,
    .week3 {
        width: 80%;
    }

    .work1,
    .work2 {
        flex-direction: column;
    }

    .week4 {
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }

    .week5 {
        width: 80%;
        margin: auto;
        margin-top: 40px;
    }

    .self {
        width: 100%;
    }

    .selfphoto {
        width: 50%;
        margin: auto;
        margin-top: 40px;
    }

    .self h1 {
        font-size: 40px;
    }

    .self h3 {
        font-size: 25px;
    }

    .self p {
        padding-left: 50px;
        padding-right: 50px;
    }

    .socialmedia {
        width: 15%;
    }
}