.second {
    background-color: #f3f3f3;
    border-radius: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.title {
    display: none;
    font-size: 40px;
}

.title h1 {
    margin: 0;
    font-weight: 800;
}

.illus {
    width: 50%;
    padding: 50px;
}

.white {
    display: none;
}

.imgbox {
    width: 80%;
}

.info {
    width: 50%
}

.info h1 {
    font-size: 70px;
    padding: 20px;
    font-weight: normal;

}

.info p {
    font-size: 20px;
    padding: 20px;
    padding-right: 130px;
}


.third {
    background-color: black;
    color: white;
    padding: 40px;
    margin-top: 70px;
    border-radius: 50px;
    gap: 20px;
}

.leftright {
    display: flex;
}

.leftside {
    width: 50%;
}

.leftside h1 {
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 60px;
}

.leftside h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 60px;
}

.leftside p {
    font-size: 20px;
}

.header1 {
    background-color: #B9FF66;
    color: #191A23;
    border-radius: 5px;
    width: 80%;
    padding-left: 10px;
}

.header2 {
    width: 70%;
}

.paragraph {
    width: 90%;
}

.arrowread {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 60px;
}

.arrowicon {
    width: 5%;
}

.read {
    color: #B9FF66;
}

.mobilearrow {
    display: none;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.arrowicon2 {
    width: 6%;
}

.read2 {
    color: #B9FF66;
    margin: 0;
}


.rightside {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-end;
    margin-right: 20px;
}

.rightside div {
    text-align: center;
    aspect-ratio: 1/1;
    background-color: white;
    color: #191A23;
    border-radius: 15px;
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container p,
h1 {
    margin: 0;
}


.twohundred p {
    padding-left: 30px;
    padding-right: 30px;
}

.featuredicon {
    width: 15%;
    display: none;

}

.mobilever h1 {
    margin: 0;
    display: none;
    color: #B9FF66;
    font-weight: normal;
}

@media screen and (max-width: 1323px) {
    .info h1 {
        font-size: 60px;
    }

    .info p {
        font-size: 19px;
    }
}

@media screen and (max-width:1401px) {


    .leftside h1 {
        font-size: 35px;
    }

    .leftside h2 {
        font-size: 25px;
    }

    .leftside p {
        font-size: 18px;
    }

    .twohundred p {
        font-size: 14px;
    }

    .onehundredfifty p {
        font-size: 14px;
    }

    .seventyfive,
    .threehundred {
        font-size: 14px;
    }
}

@media screen and (max-width:1165px) {
    .info h1 {
        font-size: 55px;
    }

    .info p {
        font-size: 16px;
    }

    .leftside h2 {
        font-size: 25px;
    }

    .leftside p {
        font-size: 18px;
    }

}

@media screen and (max-width:1082px) {

    .leftside h2 {
        font-size: 20px;
    }

    .leftside p {
        font-size: 15px;
    }

    .info h1 {
        font-size: 45px;
    }

    .info p {
        font-size: 12px;
    }


}

@media screen and (max-width:833px) {
    .second {
        flex-direction: column;
        background-color: white;
    }

    .title {
        display: block;
    }

    .info h1 {
        display: none;
    }

    .illus {
        display: none;
    }

    .header1 {
        display: none;
    }

    .featuredicon {
        display: block;
    }

    .mobilever h1 {
        display: block;
    }

    .info {
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    .info p {
        font-size: 18px;
        padding: 0px;
    }

    .white {
        display: block;
    }

    .third {
        display: flex;
        width: 100%;
        box-sizing: border-box;
    }

    .arrowread {
        display: none;
    }

    .leftright {
        flex-direction: column;
        width: 100%;
    }

    .leftside {
        width: 100%;
    }

    .rightside {
        flex-direction: column;
        width: 100%;
    }

    .rightside div {
        width: 90%;
        aspect-ratio: 0;
    }

    .mobilearrow {
        display: block;
        display: flex;
    }

    .container {
        width: 100%;
        aspect-ratio: 0;
    }
}