body {
    max-width: 1400px;
    margin: auto;
}

.caring {
    box-sizing: border-box;
    margin: 40px;
}

.heading {
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;

}

.row {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}


.picture {
    width: 30%;
}

.img1 img {
    border-radius: 20px;
}

.paragraph {
    background-color: rgb(228, 221, 221);
    box-shadow: 0 10px 20px rgb(140, 138, 138);
    width: 60%;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    position: relative;
    top: -70px;
    border-radius: 20px;
}

.paragraph p {
    margin: 0;
    margin-bottom: 40px;
}

.p-space {
    background-color: rgb(228, 221, 221);
    box-shadow: 0 10px 20px rgb(140, 138, 138);
    width: 60%;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    position: relative;
    top: -70px;
    border-radius: 20px;
}

.p-space p {
    margin: 0;
    margin-bottom: 40px;
}


.read {
    color: rgb(30, 194, 30);
}

@media screen and (max-width: 1380px) {

    .heading {
        margin-left: 300px;
        margin-right: 300px;
    }
}

/* @media screen and (max-width: 1245px) {
    .p-space p {
        margin-bottom: 40px;
    }
} */

@media screen and (max-width: 1324px) {
    .paragraph {
        font-size: 18px;
    }

    .p-space p {
        font-size: 18px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1236px) {
    .paragraph {
        font-size: 15px;
    }

    .p-space p {
        font-size: 15px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1166px) {
    .heading {
        margin-left: 250px;
        margin-right: 250px;
    }
}

@media screen and (max-width: 1036px) {
    .p-space p {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1008px) {
    .heading {
        margin-left: 100px;
        margin-right: 100px;
    }

    .p-space p {
        margin-bottom: 40px;
        font-size: 15px;
    }

    .paragraph p {
        font-size: 15px;
    }

    .picture {
        width: 40%;
    }
}

@media screen and (max-width: 781px) {
    .row {
        gap: 10px;
    }

    .p-space p {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .paragraph {
        top: -50px;
    }

    .paragraph p {
        font-size: 20px;
    }

    .picture {
        width: 100%;
    }

    .heading {
        margin-left: 60px;
        margin-right: 60px;
    }
}