body {
    box-sizing: border-box;
    max-width: 1400px;
    font-family: "Funnel Sans", sans-serif;
}

.trip {
    background-color: white;
    border-radius: 50px;
    box-shadow: 50px -40px 200px 10px rgb(182, 226, 255);
    width: 50%;
    margin-top: 200px;
    margin-left: 100px;
    position: relative;
}

.image {
    width: 90%;
    margin: auto;
}

.image img {
    border-radius: 50px;
    margin-top: 30px;
}

.paragraph {
    padding: 20px;
    padding-left: 60px;
    font-size: 25px;
    line-height: 10px;
}

.paragraph p {
    color: grey;
}

.icon {
    display: flex;
    padding-left: 60px;
    gap: 40px;
    width: 40%;
}

.icon div {
    background-color: rgb(184, 180, 180);
    border-radius: 200px;
}

.icon img {
    padding: 20px;
    width: 40%;
}

.person {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.skyline {
    width: 10%;
    padding-left: 60px;
}

.love {
    width: 5%;
    padding-right: 70px;
}

.skyline-info {
    display: flex;
    width: 40%;
    align-items: center;
    gap: 20px;
}

.skyline-info p {
    font-size: 20px;
    color: grey;
}

.outsidebox {
    background-color: white;
    width: 30%;
    display: flex;
    align-items: center;
    border-radius: 40px;
    position: absolute;
    bottom: 250px;
    left: 500px;
    box-shadow: 0px 10px 30px rgb(220, 220, 220);
}

.iu {
    width: 20%;
    padding: 20px;
}

.iu img {
    border-radius: 100px;
}

.info {
    line-height: 15px;
    font-size: 30px;
}

.info h3 {
    margin: 0;
}


.highlight {
    display: flex;
    padding-top: 15px;
    gap: 15px;
    padding-bottom: 50px;
}

.ongoing {
    color: rgb(163, 160, 160);
    font-weight: 600;
}

.color {
    color: rgb(143, 106, 245);
}