body {
    max-width: 1400px;
    margin: auto;
}

.caring {
    box-sizing: border-box;
}

.heading {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;

}

.firstrow {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.firstrow>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.picture {
    width: 33.33%;
}

.img1 img {
    border-radius: 20px;
}

.paragraph {
    background-color: rgb(228, 221, 221);
    box-shadow: 0 10px 20px rgb(140, 138, 138);
    width: 60%;
    text-align: center;
    font-size: 20px;
    padding: 4%;
    position: relative;
    top: -70px;
    border-radius: 20px;
}

.paragraph p {
    margin: 0;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.paragraph-space {
    margin: 0;
    margin-bottom: 90px;
}


.read {
    color: rgb(30, 194, 30);
}