body {
    max-width: 1400px;
    margin: auto;
}

.caring {
    box-sizing: border-box;
}

.heading {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;

}

.row {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}


.picture {
    width: 30%;
}

.img1 img {
    border-radius: 20px;
}

.paragraph {
    background-color: rgb(228, 221, 221);
    box-shadow: 0 10px 20px rgb(140, 138, 138);
    width: 60%;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    position: relative;
    top: -70px;
    border-radius: 20px;
}

.paragraph p {
    margin: 0;
    margin-bottom: 40px;
}

.p-space {
    background-color: rgb(228, 221, 221);
    box-shadow: 0 10px 20px rgb(140, 138, 138);
    width: 60%;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    position: relative;
    top: -70px;
    border-radius: 20px;
}

.p-space p {
    margin: 0;
    margin-bottom: 60px;
}


.read {
    color: rgb(30, 194, 30);
}

@media screen and (max-width: 1395px) {
    .paragraph {
        font-size: 18px;
    }
}

@media screen and (max-width: 1201px) {
    .heading {
        margin-left: 300px;
        margin-right: 300px;
    }
}