body {
    box-sizing: border-box;
    font-family: "Funnel Sans", sans-serif;
    margin: auto;
}

.bigdiv {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    margin: auto;
}

.trip {
    background-color: white;
    border-radius: 50px;
    box-shadow: 50px -40px 200px 10px rgb(182, 226, 255);
    width: 50%;
    margin: 80px;
}

.image {
    width: 90%;
    margin: auto;
}

.image img {
    border-radius: 40px;
    margin-top: 20px;
}

.paragraph {
    padding: 20px;
    padding-left: 30px;
    line-height: 10px;
}

.paragraph p {
    font-size: 13px;
    color: grey;
}

.icon {
    display: flex;
    padding-left: 30px;
    gap: 10px;
}

.icon div {
    background-color: rgb(211, 211, 211);
    border-radius: 200px;
}

.icon img {
    padding: 5px;
    width: 10px;
    display: flex;
    justify-content: center;
}

.person {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.skyline {
    width: 15px;
    padding-left: 30px;
}

.love {
    width: 15px;
}

.skyline-info {
    display: flex;
    width: 70%;
    align-items: center;
    gap: 10px;
}

.skyline-info p {
    font-size: 11px;
    color: grey;
}

.space {
    width: 30%;
    position: relative;
}

.outsidebox {
    background-color: white;
    width: 150px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    bottom: 80px;
    right: -50px;
    box-shadow: 0px 10px 30px rgb(220, 220, 220);
}

.iu {
    width: 300px;
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
    top: -25px;
}

.iu img {
    border-radius: 100px;
}

.info {
    line-height: 15px;
    font-size: 9px;
}

.info h3 {
    margin: 0;
}

.highlight {
    display: flex;
    gap: 5px;
}

.ongoing {
    color: rgb(163, 160, 160);
    font-weight: 600;
    margin: 5px;
}

.color {
    color: rgb(143, 106, 245);
}

.loading {
    padding-bottom: 10px;
}

.bottompart {
    display: flex;
}

.information {
    width: 70%;
}

@media screen and (max-width:904px) {
    .paragraph p {
        font-size: 10px;
    }

    .paragraph h3 {
        font-size: 13px;
    }

    .skyline-info p {
        font-size: 9px;
    }
}

@media screen and (max-width:809px) {
    .bigdiv {
        flex-direction: column;
    }

}