body {
    box-sizing: border-box;
    max-width: 1400px;
}

.trip {
    background-color: white;
    border-radius: 50px;
    box-shadow: 50px -40px 200px 10px rgb(182, 226, 255);
    width: 50%;
    margin-top: 200px;
    margin-left: 100px;
}

.image {
    width: 90%;
    margin: auto;
}

.image img {
    border-radius: 50px;
    margin-top: 30px;
}

.paragraph {
    padding: 20px;
    padding-left: 70px;
    font-size: 25px;
    line-height: 10px;
}

.paragraph p {
    color: grey;
}