.caring {
    box-sizing: border-box;
}

.heading {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;

}

.info {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.info>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.creating {
    width: 33.33%;
}

.img1 img {
    border-radius: 20px;
}

.paragraph1 {
    background-color: rgb(228, 221, 221);
    box-shadow: 0 10px 20px rgb(140, 138, 138);
    width: 60%;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    position: relative;
    top: -70px;
    border-radius: 20px;
}

.read {
    color: rgb(30, 194, 30);
}

.safeguarding {
    width: 33.33%;
}

.img2 img {
    border-radius: 20px;
}

.paragraph2 {
    background-color: rgb(228, 221, 221);
    box-shadow: 0 10px 20px rgb(140, 138, 138);
    width: 60%;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    position: relative;
    top: -70px;
    border-radius: 20px;
}