body {
    background-color: rgb(226, 226, 226);
}

.navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 5px;
    font-family: sans-serif;
}

.logo {
    width: calc(100%/3);
}

.logo img {
    width: 50%;
}

.clicksection {
    display: flex;
    gap: 30px;
    width: calc(100%/3);
    justify-content: center;
}

.clicksection a {
    text-decoration: none;
    color: black;
    align-items: center;
    font-size: 18px;

}


.clicksection a.orange {
    color: #f9612b;
}

.rightbar {
    display: flex;
    align-items: center;
    gap: 12px;
    width: calc(100%/3);
    justify-content: right;
    padding-right: 20px;
}

.contact {
    width: 7%;
}

.contactnumber {
    font-size: 18px;
}

.b-contact {
    background-color: #f9612b;
    color: rgb(255, 255, 255);
    border: #f9612b;
    border-radius: 7px;
    font-size: 14px;
    padding: 9px;
}

.hamburger {
    width: 10%;
    display: none;
}

@media screen and (max-width: 1407px) {

    .button {
        display: none
    }

    .hamburger {
        display: block
    }

    .clicksection a {
        display: none;
    }

}

@media screen and (max-width: 845px) {

    .contact {
        display: none
    }

    .contactnumber {
        display: none
    }


}